/*Global IDs*/

* {
    box-sizing: border-box;
}

p {
    line-height: 2rem;
}

body {
    background-color: #546e7a;
    color: #eceff1;
}

ul p {
    text-align: left;
}

.instruct{
  color: #ffff00;
  font-size: 18px;
}

footer.page-footer {
    background-color: #546e7a;
    margin-top: 20px;
}

h4 {
   text-shadow: 2px 3px #455a64;
}

/*Individual IDs*/

#index-banner {
    background-color: #455a64;
}

#mainBody {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/*Classes*/

.brand-logo {
    color: #eceff1;
}

.button-collapse {
    color: #eceff1;
}

.pageContainer {
    min-height: 680px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);

}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.container #body {
    min-height: 500px;
    padding-top: 50px;
}

.btn-floating.btn-large {
    width: 90px;
    height: 90px;
    margin-right: 5px;
}

.btn-floating.btn-large.halfway-fab {
    bottom: -28px;
}

.btn-floating.btn-large i {
    line-height: 90px;
}

.collapsible {
    border: none;
}

.collapsible-header {
    background-color: #546e7a;
}


/*Media Queries*/

@media only screen and (max-width: 2600px) {

    #dzplayer {
      width: 82.5% !important;
    }
}

@media only screen and (max-width: 1200px) {

    #dzplayer {
      width: 100% !important;
    }

    #moodContainer {
        width: 100% !important;
    }
}

@media only screen and (max-width: 992px) {

    #dzplayer {
      width: 100% !important;
    }

    #mainBody {
        background-size: auto;
    }
}

@media only screen and (max-width: 600px) {

    #dzplayer {
      width: 100% !important;
    }

    #logoCrest {
      width: 100% !important;
      height: 400px !important;
    }
}

@media only screen and (max-width: 600px) {

    #dzplayer {
      width: 100% !important;
    }

    #logoCrest {
      width: 100% !important;
      height: 400px !important;
    }

    #moodContainer {
        width: 75% !important;
    }

    #dezSubmit {
        width: 100%;
    }

    #mainBody {
    background-size: auto;
    }
}

@media only screen and (max-width: 360px) {

    #dzplayer {
      width: 100% !important;
    }

    #logoCrest {
      width: 100% !important;
      height: 300px !important;
    }

    #dezSubmit {
        width: 100%;
    }

    #mainBody {
    background-size: auto;
    }
}